/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top; font-family: 'Noto Sans KR', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video { max-width:100%; border:0; vertical-align:top; }
a { vertical-align:top; text-decoration:none; color:#000; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
body { background:url(../ub_img/body_bg.jpg) repeat-x #323532; font-family:'NanumGothicWeb', '돋움'; font-size:100%; line-height:1; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }




 div#wrap {width:960px; margin:50px auto;}

 /* header */
 #header {width:100%; height:80px; color:white;}
 #header::after {content:""; clear:both; display:block;}
 #header-left {float:left; height:35px; line-height:35px;}
 #header-left h2 {display:inline; font-size:30px;}
 #header-right {width:470px; float:right;}
 #header-right ul {float:left;}
 #header-right ul li {float:left; font-size:15px; width:80px; height:30px; line-height:30px; background-color:#f8f8f8; margin-right:15px; text-align:center; }
 #header-right form {float:right; top:0;}
 #header-right form input[type="text"] {width:150px; height:30px; text-indent:15px;}
 #header-right form span {display:inline-block; width:30px; height:30px; background-color:white; margin-left:-6px; line-height:30px; text-align:center;}
 i.fa-search{color:#444;}

 /* nav */
 #nav {width:960px; background-color:white; height:90px; line-height:90px;}
 #nav ul {width:100%; margin:0 40px;}
 #nav ul li {float:left; margin-right:50px; }
