
    /* <body>에 대한 속성 */

    body {
        text-align:center;
        font:14px Arial, sans-serif;
        background:#ddd;
    }

    /* .wrapper에 대한 속성 */

    .wrapper {
        position:relative; /*상대적으로 위치하게 합니다*/
        z-index:1; /*z-index가 1이므로 body 위에 있게 됩니다*/
        width:600px;
        padding:20px; /*안쪽 여백을 상, 하, 좌, 우 모두 20px로 적용합니다*/
        margin:0 auto; /*위, 아래 바깥여백은 0으로, 좌우를 auto로 줌으로써 가운데 정렬을 합니다*/
        background:#fff;
    }

    .wrapper:after {
        content:"";
        display:block;
        clear:both;
        visibility:hidden;
        height:0;
        font-size:0;
    }


    /* 공통으로 사용할 그림자 효과에 대한 속성 */

    .shadow {
        position:relative;
        float:left;
        width:40%;
        height:50px;
        padding:1em;
        margin:2em 10px 4em;
        background:#fff;
        /*0(그림자의 수평 거리) 1px(수직 거리) 4px(흐림 정도) rgba(그림자 색상,투명도)*/
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        -o-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        -ms-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    }

    .shadow:before,.shadow:after {
        content:"";
        position:absolute;
        z-index:-2;
    }

    .shadow p {
        font-size:16px;
        font-weight:bold;
    }


    /* 광택효과에 대한 속성 */

    .shadow a {
        /*위치를 고정합니다*/
        position: absolute;
        /*위:1px, 왼쪽1px로 위치를 지정합니다*/
        top: 1px;
        left: 1px;
        /*가로 값을 %로 지정하면 가로길이가 변해도 자동으로 크기가 변하게 됩니다*/
        width: 99.2%;
        /*세로 높이를 지정하기보다 padding으로 조절하는 것이 효과적입니다*/
        height:1px;
        /*height 대신에 padding으로 높이를 지정했습니다. */
        padding: 10px 0;
        /*자연스러운 효과를 위해 모서리를 1px만큼 둥글게 합니다 */
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -o-border-radius: 1px;
        -ms-border-radius: 1px;
        border-radius: 1px;
        /*그라디언트 방향 | color-stop1(시작) | color-stop2(중간) | color-stop3(끝)*/
        background-image:-webkit-linear-gradient(
            top, /* 그라디언트 방향:위에서 아래로 */
            rgba(255, 255, 255, 0.9), /* color-stop1(시작) | alpha:90%  */
            rgba(255, 255, 255, 0.3) 50%,  /* color-stop(중간) | 위치:50% | alpha:40%  */
            rgba(255, 255, 255, 0) /* color-stop(끝) | alpha:5%  */
            );
        background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0));
        background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0));
        background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0));
        background-image:linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0));
    }


    /* Lifted corners */

    .lifted {
        /*모서리를 4px만큼 둥글게 만들어줍니다*/
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -o-border-radius:4px;
        -ms-border-radius:4px;
        border-radius:4px;
        /*배경색*/
        background-color:rgb(250, 250, 250);
        /*배경색 위에 투명도 90%의 그라디언트를 추가합니다*/
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(241, 242, 246, 0.8)), to(rgba(225, 228, 236, 0.9)));
        background-image:-moz-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-o-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-ms-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
    }

    /*.lifted의 모서리 값에 맞춰 광택효과도 모서리를 둥글게 해줍니다*/
    .lifted a {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    }

    /*:before, :after의 생김새가 같으므로 한꺼번에 지정합니다. 코드가 길어지지 않아서 좋겠죠?*/
    .lifted:before, .lifted:after {
        bottom:15px;
        left:10px;
        width:50%;
        height:20%;
        max-width:300px;
        max-height:100px;
        -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5); /*가상 선택자에 그림자 효과 입히기*/
        -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
        -o-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
        -ms-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
        box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
        -webkit-transform:rotate(-3deg); /*해당 가상 선택자를 3deg만큼 시계반대 방향으로 회전*/
        -moz-transform:rotate(-3deg);
        -o-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
        transform:rotate(-3deg);
    }

    /*위치값과 회전이 필요한 것은 :after이기 때문에 :after에 대해서만 따로 속성을 지정합니다*/
    .lifted:after {
        right:10px;
        left:auto;
        -webkit-transform:rotate(3deg); /*해당 가상 선택자를 3deg만큼 시계방향으로 회전*/
        -moz-transform:rotate(3deg);
        -o-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
        transform:rotate(3deg);
    }


    /* Curled corners */

    .curled {
        /*border-radius를 이용해서 아랫면의 모서리만 6px만큼 곡선인 사각형을 만듭니다.*/
        -webkit-border-radius:0 0 120px 120px / 0 0 6px 6px;
        -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
        -o-border-radius:0 0 120px 120px / 0 0 6px 6px;
        -ms-border-radius:0 0 120px 120px / 0 0 6px 6px;
        border-radius:0 0 120px 120px / 0 0 6px 6px;
        /*배경색*/
        background-color:rgb(250, 250, 250);
        /*배경색 위에 투명도 90%의 그라디언트를 추가합니다*/
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(241, 242, 246, 0.8)), to(rgba(225, 228, 236, 0.9)));
        background-image:-moz-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-o-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-ms-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
    }

    .curled:before, .curled:after {
        bottom:12px;
        left:10px;
        width:50%;
        height:55%;
        max-width:200px;
        max-height:100px;
        -webkit-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5); /*가상 선택자에 그림자 효과 입히기*/
        -moz-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
        -o-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
        -ms-box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
        box-shadow:0 8px 12px rgba(0, 0, 0, 0.5);
        -webkit-transform:skew(-8deg) rotate(-3deg); /*-8deg만큼 비틀고 -3deg만큼 회전*/
        -moz-transform:skew(-8deg) rotate(-3deg);
        -o-transform:skew(-8deg) rotate(-3deg);
        -ms-transform:skew(-8deg) rotate(-3deg);
        transform:skew(-8deg) rotate(-3deg);
    }

    /*:after의 위치를 지정하고 위치/회전 값을 반대로 지정합니다.*/
    .curled:after {
        right:10px;
        left:auto;
        -webkit-transform:skew(8deg) rotate(3deg); /*:after를 8deg만큼 비틀고 3deg만큼 회전*/
        -moz-transform:skew(8deg) rotate(3deg);
        -o-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
        transform:skew(8deg) rotate(3deg);
    }


    /* Perspective */

    .perspective{
        /*배경색*/
        background-color:rgb(250, 250, 250);
        /*배경색 위에 투명도 90%의 그라디언트를 추가합니다*/
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(241, 242, 246, 0.8)), to(rgba(225, 228, 236, 0.9)));
        background-image:-moz-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-o-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-ms-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
    }

    /*그림자가 하나만 필요하므로 before에만 속성을 줍니다.*/
    .perspective:before {
        left:80px;
        bottom:5px;
        width:50%;
        height:35%;
        max-width:200px;
        max-height:50px;
        /*가상 선택자에 그림자 효과 입히기*/
        -webkit-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
        -o-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
        -ms-box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
        box-shadow:-80px 0 8px rgba(0, 0, 0, 0.4);
        /*가상 선택자를 50deg만큼 비틀어줍니다*/
        -webkit-transform:skew(50deg);
        -moz-transform:skew(50deg);
        -o-transform:skew(50deg);
        -ms-transform:skew(50deg);
        transform:skew(50deg);
        /*비틀 때의 기준이 되는 기준점을 변경합니다*/
        -webkit-transform-origin:0 100%;
        -moz-transform-origin:0 100%;
        -o-transform-origin:0 100%;
        -ms-transform-origin:0 100%;
        transform-origin:0 100%;
    }

    /*필요없는 요소는 가려줍니다.*/
    .perspective:after {
        display:none;
    }


    /* Raised box */

    .raised {
        /*배경색*/
        background-color:rgb(250, 250, 250);
        /*배경색 위에 투명도 90%의 그라디언트를 추가합니다*/
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(241, 242, 246, 0.8)), to(rgba(225, 228, 236, 0.9)));
        background-image:-moz-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-o-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-ms-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        /*배너에 직접 그림자 효과를 지정합니다*/
        -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -o-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -ms-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }


    /* Single vertical curve */

    .curved{
        /*배경색*/
        background-color:rgb(250, 250, 250);
        /*배경색 위에 투명도 90%의 그라디언트를 추가합니다*/
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(241, 242, 246, 0.8)), to(rgba(225, 228, 236, 0.9)));
        background-image:-moz-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-o-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:-ms-linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
        background-image:linear-gradient(top, rgba(241, 242, 246, 0.8), rgba(225, 228, 236, 0.9));
    }

    .curved:before {
        /*top의 위치를 10px로 지정함으로써 위에는 그림자가 보이지 않도록 한다*/
        top:10px;
        /*bottom의 위치를 10px로 지정함으로써 밑에는 그림자가 보이지 않도록 한다*/
        bottom:10px;
        /*왼쪽의 위치는 0px로 지정*/
        left:0;
        /*왼쪽의 위치는 0px로 지정*/
        right:50%;
        /*가상 선택자에 그림자 효과 입히기*/
        -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
        -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
        -o-box-shadow:0 0 15px rgba(0,0,0,0.6);
        -ms-box-shadow:0 0 15px rgba(0,0,0,0.6);
        box-shadow:0 0 15px rgba(0,0,0,0.6);
        /*가상 선택자를 곡선모양으로 만들어 준다*/
        -webkit-border-radius:10px / 100px;
        -moz-border-radius:10px / 100px;
        -o-border-radius:10px / 100px;
        -ms-border-radius:10px / 100px;
        border-radius:10px / 100px;
    }


    /* Vertical curves */

    /*이전에 만들었던 .curved의 속성을 가져다가 사용하므로 필요한 것만 추가하면 됩니다*/
    .curved-vt-2:before {
        right:0;
    }


    /* Single horizontal curve */

    .curved-hz-1:before {
        /*top의 위치를 50%로 지정함으로써 위에는 그림자가 보이지 않도록 한다*/
        top:50%;
        /*bottom의 위치를 0로 지정함으로써 가상 선택자는 안 보이고 그림자만 보이도록 한다*/
        bottom:0;
        /*left의 위치를 10px로 지정함으로써 왼쪽에는 그림자가 보이지 않도록 한다*/
        left:10px;
        /*right의 위치를 10px로 지정함으로써 오른쪽에는 그림자가 보이지 않도록 한다*/
        right:10px;
        /*가상 선택자를 곡선모양으로 만들어 준다*/
        -webkit-border-radius:100px / 10px;
        -moz-border-radius:100px / 10px;
        -o-border-radius:100px / 10px;
        -ms-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }


    /* Horizontal curves */

    /*이전에 만들었던 .curved의 속성을 가져다가 사용하므로 필요한 것만 추가하면 됩니다*/
    .curved-hz-2:before {
        top:0;
        bottom:0;
        left:10px;
        right:10px;
        /*가상 선택자를 곡선모양으로 만들어 준다*/
        -webkit-border-radius:100px / 10px;
        -moz-border-radius:100px / 10px;
        -o-border-radius:100px / 10px;
        -ms-border-radius:100px / 10px;
        border-radius:100px / 10px;
    }
